<footer class="bg-light text-center text-lg-start mt-auto">
  <div class="text-center p-3">
    © 2024 Your Company:
    <a class="text-dark" href="https://www.thoughtgears.co.uk">thoughtgears.co.uk</a>
  </div>
</footer>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
</body>
</html>
